<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="container">
      <h1>About</h1>
      <p>By: Chitsanupong Tangvasinkul</p>
      <a href="/">Go back to homepage</a>
    </div>
  </body>
</html>
