<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="container">
      <%- include('./partials/spec.ejs') %>
      <a href="/about">Go to about page</a>
    </div>
  </body>
</html>
